<% layout("/layout/boilerplate.ejs") %>


  
<div class="row offset-2">
    <div class="col-8">
    <h1>Create a New Post</h1><br>
  <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        
      <label for="title" class="form-label">Title:-</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Add title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Title Look Good..!</div>
      <div class="invalid-feedback">Please Enter valid Title</div>
    </div>
    

    <div class="mb-3">
      <label for="description" class="form-label">Description:- </label>
      <textarea
        name="description"
        rows="8"
        cols="20"
        placeholder="Add a sweet description"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please Enter valid Description</div>
    </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image:- </label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <div class="row">
    <div class="mb-3 col-md-4" >
      <label for="price" class="form-label">Price:- </label>
      <input
        type="text"
        name="listing[price]"
        placeholder="Add Price"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please Correct Price</div>
    </div>

    
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country:- </label>
        <input
          type="text"
          name="listing[country]"
          placeholder="Add Nation"
          class="form-control"
          required

        />
        <div class="invalid-feedback">Please Enter valid country name</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location:- </label>
      <input
        type="text"
        name="listing[location]"
        placeholder="Add location"
        class="form-control"

        required
      />
      <div class="invalid-feedback">Please Enter valid Location</div>
    </div>
    

    <button class="btn btn-dark add-btn">Submit</button><br><br>
  </form>
</div>
</div>

