body{
    font: "Plus Jakarta sans","sans-serif" !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Bar */
.navbar{
    height: 5rem;
    background-color: white;
}
/* color of symbol */
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;   
}
.f-info-links a:hover{
    text-decoration: underline;  
}

.f-info-links, .f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    font-size: 1.2rem;
    margin-right: 1rem;
    
}

.f-info{
    text-align: center;
    height: 8 rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important ;
    width: 100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* card-img-overlay */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* boilerPlate */
.container{
    flex:1;
}

/* New form Add  btn */
.add-btn{
    background-color: #fe424d !important;
    border: none  !important;
}

/* Show image */
.show-img{
    height: 30vh;
    border-radius: 2rem;

}
.btns{
    display: flex;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}